
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 150%;
    color: var(--text-color-secondary);
}

:root {
    --background-color: #573824;
    --surface-color: #F0E8C2;
    --text-color-primary: #291B1A;
    --text-color-secondary: #573A37;
    --text-color-on-bg: #F0E8C2; 
    --main-font: "Alice", serif;
    --heading-1: 40px;
    --heading-2: 24px; 
    --paragraph: 16px; 
}

body {
    height: 100vh;
    background-image: url(./assets/bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--background-color);
    font-family: var(--main-font);
}

#page {
    background-color: var(--surface-color);
    padding: 1.5rem;
    max-width: 50rem;
    border-radius: 1.5rem;
    margin: 3rem auto 0; 
}

#page img {
    max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho do contêiner */
    height: auto;    /* Mantém as proporções da imagem */
    max-height: 25rem;
    border-radius: 1rem;
    object-fit: cover; /* Ajusta o recorte, se necessário */
}


#page main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
}

h1 {
    font-size: var(--heading-1);
}

h2 {
    font-size: var(--heading-2);
}

h1, h2 {
    color: var(--text-color-primary);
    font-weight: 400;
    margin-bottom: .25rem;
    line-height: 150%;
}

p {
    font-size: var(--paragraph);
}

#about p + p {
    margin-top: .75rem;
}

ul li {
    margin-left: 1.5rem;
}

#preparation p + p {
    margin-top: .75rem;
}



footer {
    text-align: center;
    margin-top: 1.75rem;
    padding-bottom: 3rem;
}

footer span {
    color: var(--text-color-on-bg );
    font-weight: 400;
}

footer span img {
    vertical-align: middle;
}